<paper-toolbar class="primary header">
    <img src="/static/display/assets/sfo-logo.png" style="height: 80%">
    <div class="title">Shared Ride Van Availability</div>
    <div id="flip-clock" style="width:auto;"></div>
</paper-toolbar>
    <div class="vertical flex center" style="background: #fff">
        <div class="paper-content horizontal flex center">
            <p>Invalid Terminal Location Specified</p>
        </div>
    </div>
<paper-toolbar class="primary footer">
    <div class="title">© 2017 San Francisco International Airport. All Rights Reserved.</div>
</paper-toolbar>