<p> Hello {{ name }},  </p>
<p> You are receiving this email because an SFO Admin recently signed you up for a Shared Ride Vans account.</p>

<p> To activate your account, please follow these directions: </p>

<p> 1)  Go to <a href='{{ url }}'>{{ url }}</a></p>

<p> 2)  Login using this email address and the temporary password <b> {{ temporary_pass }} </b> </p>
<p> 3)  Create a new password for your Shared Ride Vans account. </p>
<p> Please note this email address is not monitored. Contact daniel.pino@flysfo.com for further assistance.</p>
<p> Sincerely, </p>

<p> Shared Ride Vans System</p>

<p>CONFIDENTIALITY NOTICE: This email may contain privileged and confidential information and is intended only for the use of the specific person(s) to whom it is addressed. If you are not an intended recipient of this email, you are hereby notified that any unauthorized use, dissemination or copying of this email or the information contained in it or attached to it is strictly prohibited. </p>

<a href='http://www.flysfo.com'>
    San Francisco International Airport
</a>

