{% spaceless %}
<body>
    <div style="width:90%; margin: 0 auto; padding-top: 20px;">
        <form id="restore-provider" class="form-horizontal" role="form" method="post" action="" autocomplete="off">
            <div class="col-md-12">
                <p>Are you sure you want to restore this provider?</p>
            </div>

        </form>
         <div class="col-sm-3 col-sm-offset-3">
                 <button id="close_window" class="btn btn-danger btn-lg btn-danger-lg" style="margin: 20px 20px">Cancel</button>
         </div>

        <div class="col-sm-3">
                 <button id="submit-btn" class="btn btn-primary btn-lg" style="margin: 20px 20px">Confirm</button>
        </div>

        <script>

             $('#close_window').on("click", function() {
                closeWindow();
            });

            $('#submit-btn').on("click", function() {
                restoreProvider();
                closeWindow();
            });

        </script>
    </div>
</body>
{% endspaceless %}