<!DOCTYPE html>
{% load staticfiles %}
<html style="background: #fff">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
        <title>Shared Ride Van Coordinator App</title>
        <link href="{% static 'coordinator_portal/css/normalize.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'coordinator_portal/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'coordinator_portal/img/sfo-favicon.ico' %}" type="image/x-icon"/>
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css%" id="materialize">
        <link rel="stylesheet" href="{% static 'coordinator_portal/css/app.css' %}" type="text/css"/>

    </head>

    <body>
      <div class="preloader-wrapper small active loader" id="loader">
        <div class="spinner-layer" style="border-color:#0288d1">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

        <div id="app"
             username="{{ request.session.first_name }} {{ request.session.last_name }}"
             role="{{ request.session.role }}" user-id="{{ request.session.user_id }}"></div>
        <script src="{% static 'coordinator_portal/js/client.min.js' %}"></script>

    <script>
        document.getElementById("materialize").disabled = true;
        document.getElementById("loader").style.display = "none";

    </script>

    </body>
</html>
