{% extends "company_portal/base.html" %}

{% load staticfiles %}

{% block title %}
    <title>Forgot Password</title>
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'company_portal/css/login.css' %}" />
{% endblock %}

{% block javascripts-before %}
        <script src="{% static 'company_portal/jquery-validation/dist/jquery.validate.min.js' %}"></script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block container %}

        <style>
        .select-dropdown {
            color: #CCCCCC;
        }

        ul.dropdown-content.select-dropdown li span {
            color: #005978;
        }

        .select-dropdown li.disabled>span {
            color:#CCCCCC !important ;
        }


    </style>

    <div id="activate-page" class="row">
    <div class="" style=" border-bottom-left-radius:0; padding:20px; border-bottom-right-radius: 0">
{#    <img class="input-field center" style="text-align: center" src="{% static 'company_portal/img/sfo_logo.png' %}" width="100px"/>#}
      <form class="forgot-form right-alert" id="forgot-form" role="form" action="{% url 'company_forgot_password' %}" method="post" autocomplete="off">
          {% csrf_token %}
          <div class="row">
          <div class="input-field col s12 center">
            <h5 class="center login-form-text" style="color:#ffffff">Forgot Password </h5>
          </div>
          <div class="input-field col s12 center">
            <p class="login-form-text" style="color:#ffffff">Please select your company and enter your account email address. Shared Rides will send you a link to reset your password. </p>
          </div>
          </div>
          <div class="input-field col s12 ">
              <i class="material-icons prefix" style="color:#ffffff">business</i>
                <select name="company_id" style="color:#FFFFFF" class="center" id="company_select">
                  <option value="" disabled selected>Select Your Company</option>
                {% for company in all_companies %}
                        <option value="{{ company.company_id }}">{{ company.display_name }}</option>
                {% endfor %}
                </select>
          </div>
         <div class="input-field col s12 ">
             <i class="material-icons prefix" style="color:#ffffff">email</i>
            <label for="email" style="color:#CCCCCC">Email Address</label>
            <input id="email" style="color: #ffffff" name="email" type="text" data-error=".errorTxt1">
            <div class="errorTxt1"></div>
          </div>
         <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12" style="text-align: center"> Send link </button>
          </div>
          </div>
          <div class="col s12  " style="border-top-left-radius:0;
         text-align:center;">
            <a href="{% url 'company_login' %}" style="color:#CCCCCC"> Try logging in again</a>
        </div>
          <br>
      </form>
    </div>
  </div>

{% endblock %}

{% block javascripts-after %}
    <script>

    $('select').material_select();


    $.validator.setDefaults({
       ignore: []
    });


    $('select').on("change", function(){
        $('.select-dropdown').css("color", "#fff");
        $("#company_select").valid();
    });

     $("#forgot-form").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            company_id: {
                required: true
            }
        },
        //For custom messages
        messages: {
            email:{
                required: "Enter your Shared Rides email address.",
                minlength: "Enter at least 5 characters"
            },
           company_id:{
                required: "Please select a company"
            }
        },
        errorElement : 'div',
        errorPlacement: function(error, element) {
          var placement = $(element).data('error');
          if (placement) {
            $(placement).append(error)
          } else {
            error.insertAfter(element);
          }
        }
     });
    </script>
{% endblock %}