{% extends "company_portal/base.html" %}

{% load staticfiles %}

{% block title %}
    <title>Shared Ride Vans - Reset Password</title>
{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'soap_app/css/login.css' %}" />#}
        <link rel="stylesheet" type="text/css" href="{% static 'company_portal/css/login.css' %}" />
{% endblock %}

{% block javascripts-before %}
        <script src="{% static 'company_portal/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'company_portal/js/validator.js' %}"></script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block container %}
    <div id="reset-page" class="row">
    <div class="" style=" border-bottom-left-radius:0; padding:20px; border-bottom-right-radius: 0">
{#    <img src="{% static 'coordinator_portal/img/sfo_logo75.jpg' %}" width="100px" class="login-sfo-img"/>#}
      <form class="reset-form right-alert" id="reset-form" role="form" action="{% url 'company_reset_password' %}" method="post" autocomplete="off">
          {% csrf_token %}
          <div class="row">
          <div class="input-field col s12 center">
            <h5 class="center login-form-text" style="color:#ffffff; margin-bottom: 0px">Reset Password </h5>
          </div>
          </div>
          <div class="input-field col s12 ">
              <p class="login-form-text" style="color:#ffffff">Please enter your new password. Your new password must contain at least: </p>
              <ul style="list-style-type: disc !important;">
                  <li style="color:#FFFFFF"> - 8 characters</li>
                  <li style="color:#FFFFFF"> - One upper-case and lower-case character</li>
                  <li style="color:#FFFFFF"> - One special character [!@#$%^&*]</li>
                  <li style="color:#FFFFFF"> - One digit [0-9]</li>
              </ul>
          </div>
          <div class="input-field col s12 ">
            <label for="password" style="color:#CCCCCC">New Password</label>
            <input id="password" style="color: #ffffff" name="password" type="password" data-error=".errorTxt1">
            <div class="errorTxt1"></div>
          </div>
          <div class="input-field col s12 ">
            <label for="confirm_password" style="color:#CCCCCC">Confirm Password</label>
            <input id="confirm_password" style="color: #ffffff" name="confirm_password" type="password" data-error=".errorTxt2">
            <div class="errorTxt2"></div>
          </div>
          <input type="hidden" id="email" name="email" value="{{ email }}" />
          <input type="hidden" id="token" name="token" value="{{ token }}" />
          <input type="hidden" id="company_id" name="company_id" value="{{ company_id }}"/>
         <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12" style="text-align: center">Reset Password</button>
          </div>
          </div>
          <br>
      </form>
    </div>
  </div>

{% endblock %}

{% block javascripts-after %}
    <script>
     $("#reset-form").validate({
        rules: {
            password: {
                required: true,
                minlength: 8,
                passwordRules: true,
            },
            confirm_password: {
                required: true,
                minlength: 8,
                resetPasswordsMatch: true,
                passwordRules: true,
            },
        },
        //For custom messages
        messages: {
            password:{
                required: "Enter your new password.",
                minlength: "Enter at least 8 characters"
            },
            confirm_password:{
                required: "Passwords don't match!",
                minlength: "Enter at least 8 characters"
            },
        },
        errorElement : 'div',
        errorPlacement: function(error, element) {
          var placement = $(element).data('error');
          if (placement) {
            $(placement).append(error)
          } else {
            error.insertAfter(element);
          }
        }
     });
    </script>
{% endblock %}