{% extends "admin_portal/base.html" %}

{% load staticfiles %}

{% block title %}
    <title>Shared Ride Vans - Admin</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_portal/css/table.css' %}" />
{% endblock %}

{% block javascripts-before %}
    <script src="{% static 'admin_portal/js/status.js' %}"></script>
{% endblock %}

{% block container %}

    <!-- Provider Div -->
    <div>

        <!-- Current Providers Header -->
        <div style="margin-top: 75px;">
            <span><h1><i class="fa fa-bus" aria-hidden="true"></i> Active Providers</h1></span>
            <hr>
        </div>

        <!-- Current Provider Table -->
        <table id= "current_providers" cellspacing = "0" width = "100%" >
            <thead>
                <tr data-href="{% url 'view_provider' provider_id=10  %}">
                    <th>Provider</th>
                    <th>Website</th>
                    <th>Account Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>


        <!-- Action Buttons -->
        <div class="row">
            <div class="col-lg-12">
                <span style="float: right">
                    <label style="margin-right: 20px; margin-bottom:0px; margin-top:15px"><a id="provider_audit_trail" href= "{% url 'view_all_provider' %}" >View All Providers</a></label>
                    <a href = "{% url 'create_provider' %}" id = "create_provider" class = "btn btn-primary btn-lg" style= " display: none; font-size: 1em; margin-top: 4px">
                        <span style = "color: #ffffff " class = "glyphicon glyphicon-plus"></span> Add a Provider
                    </a>
                </span>
            </div>

        </div>



    </div>


    <!-- Audit Trail Div -->
    <div>

        <!-- Audit Trail Header -->
        <div style="margin-top: 50px">
            <span><h1><i class="fa fa-history" aria-hidden="true"></i> Recent Admin Activity</h1></span>
            <hr>
        </div>

        <!-- Audit Trail Table -->
        <table id= "audit_trail" cellspacing = "0" width = "100%" >
            <thead>
                <tr>
                    <th>Admin</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <!-- View Audit Trail Button -->
        <a href = "{% url 'audit_trail' %}" id = "view_audit_trail" class = "btn btn-primary btn-lg" style= "float: right; font-size: 1em; margin-top: 4px; margin-bottom: 100px"> View All </a>

    </div>


{% endblock %}

{% block javascripts-after %}
    <script>


    $(document).ready(function() {

        const MAX_COMPANY_ALLOWED = 5;

        var provider_table = $('#current_providers').DataTable({
            dom: "t",
            pageLength: 5,
            bSort: false,
            responsive: true,
            ajax : {
                    url : "{% url 'get_all_providers' %}",
                    dataSrc : function ( json ) {
                        if (json.companies.length < MAX_COMPANY_ALLOWED)
                            $('#create_provider').show();

                        return json.companies;
                    }
            },
            columns: [
                { "data": function(data) {
                    var url = "<a href= '{% url 'view_provider' provider_id=-1 %}'>"+data.company_name+"</a>";
                    return url.replace(-1, data.company_id);
                }},
                { "data": function(data) {

                    if(data.company_contacts != null){
                        for(var i = 0; i < data.company_contacts.length; ++i) {
                            if(data.company_contacts[i].contact_type == 'website'){
                                var website = data.company_contacts[i].contact_info;
                                return "<a target='_blank' href='http://"+website+"'>"+website+"</a>"
                            }
                        }
                        return "Not Available"
                    }
                    else {
                        return "Not Available"
                    }

                }},
                { "data": function(data) {
                    if(data.deleted) return getStatusLabels("deleted");
                    else if (!data.enabled) return getStatusLabels("locked");
                    else return getStatusLabels("active");
                }},
                { "data": function(data) {
                    return "<a href= '{% url 'edit_provider' provider_id=-1  %}'> Edit</a>".replace(-1, data.company_id);
                }},
            ],
            "language" : {
                "emptyTable": "No providers available. Click 'Add a provider' to create one.",
                "loadingRecords": "Loading Providers..."
            }
        });

        var audit_table = $('#audit_trail').DataTable({
            dom: "t",
            pageLength: 5,
            bSort: false,
            responsive: true,
            ajax: {
                    url : "{% url 'get_admin_activity' %}",
                    dataSrc : function ( json ) {
                        return json;
                    }
            },
            columns: [
                { "data": function(data) {
                    return data.action_by_user;
                }},
                { "data": function(data) {
                    return data.action_description;
                }},
                { "data": function(data) {
                    return moment.utc(data.system_timestamp).format("MMM Do, YYYY - h:mm A ");
                }}
            ],
            "language" : {
                "emptyTable": "No activity available.",
                "loadingRecords": "Loading Activity..."
            }
        });


    });
    </script>
{% endblock %}